<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>JumbleShare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" type="text/css"/>
    <script src="/js/main.js"></script>
</head>
<header class="site-header" th:replace="fragments :: header"></header>
<div class="limiter">
    <body>
    <h1>Contact us </h1>
    <div class="contactdata">
        <div class="contact">
            <img src="images/location-icon.jpeg" alt="Location">
            <h3>Location</h3>
            <p> Flandernstr. 101 <br> 73732 Esslingen <br> Germany</p>
        </div>
        <div class="contact">
            <img src="images/phone-icon.png" alt="Telephone">
            <h3>Telephone</h3>
            <p> 0711 397 49</p>
        </div>
        <div class="contact">
            <img src="images/email-icon.jpeg" alt="E-Mail">
            <h3>E-mail</h3>
            <P> contact&#64;JumbleShare.com</P>
        </div>
        <div class="iframe">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2630.9211218322944!2d9.31958131593796!3d48.74520351662336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4799c6d4ca2867b7%3A0xf540bc9e9b54ea09!2sFlandernstra%C3%9Fe+101%2C+73732+Esslingen+am+Neckar!5e0!3m2!1sde!2sde!4v1488186089417" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
        </div>
    <style>

    </style>
    </body>
</div>
<footer th:replace="fragments :: footer"></footer>
</html>